body {
  margin: 0;
  font-family: 'Intern', sans-serif;
  background-color: #0d0d0d;
  color: #fffefe;
  background: linear-gradient(135 deg, rgba(0, 0, 0, 0.8), rgba(75, 0, 130, 0.4))
}

.gradient-text {
  background: linear-gradient(to right, #92d842, hsl(201, 66%, 52%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 70px;
  background-color: #010012;
}

.right-panel {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010012;
}

.logo-top-left {
  position: absolute;
  top: 20px;
  left: 300px;
}

.logo-top-left img {
  width: 225px; 
  height: auto;
}

.logo-middle-left {
  margin-top: -190px;
  margin-left: 300px;
  font-size: 1.75em;
}

.tagline {
  margin-left: 300px;
  margin-bottom: 45px;
  text-align: left;
  font-size: 1em;
  color: #d3d3dd;
  line-height: 1.66;
}

.buttons-container {
  display: flex; /* Use flexbox to place buttons side by side */
  margin-left: 300px;
  gap: 10px; /* Adjust gap between buttons */
  margin-bottom: 20px;
}

.button-1 a {
  padding: 10px 20px;
  background-color: #2eb84b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  
}

.button-2 a {
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  
}

.button-1 a:hover, .button-2 a:hover {
  background-color: #e7e9e7;
  color: black;
}

.demo-image {
  max-width: 10%;
  max-height: 10%;
}

.launchlist-form {
  margin-top: 20px;
}

.launchlist-form input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

.launchlist-form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.launchlist-form button:hover {
  background-color: #45a049;
}